---
---

@import "{{ site.theme }}";
.markdown-body h2
{
  border-bottom: 0px solid #eaecef;
  padding-bottom: 0em;
}

// Phones
@media (max-width: 544px) {
  .px-john {
    padding-right: 0.6rem !important;
    padding-left: 0.6rem !important
  }
}

// Phones - Tablets
@media (min-width: 544px) {
  .px-john {
    padding-right: 0vw !important;
    padding-left: 0vw !important;
    margin-right: 10vw !important;
    margin-left: 10vw !important;
  }
}

// Computers
@media (min-width: 664) {
  .container-lg {
    max-width: 664px
  }
}

//   .container-lg {  max-width: 100vw }

/*
.site-content
{
  html
  {
    font-size: 200% !important;
  }
}
*/
