---
---

@import "{{ site.theme }}";

// Increase font size to 16
body{
  font-size:16px
}

// No bottom border or padding on ## headers
.markdown-body h2
{
  border-bottom: 0px solid #eaecef;
  padding-bottom: 0em
}

// If on phone, slight bezels
@media (max-width: 544px) {
  .px-john {
    padding-right: 0.6rem !important;
    padding-left: 0.6rem !important
  }
}

// If not on phone, substantial bezels
@media (min-width: 544px) {
  .px-john {
    padding-right: 0vw !important;
    padding-left: 0vw !important;
    margin-right: 10vw !important;
    margin-left: 10vw !important
  }
}

// Limit scale growth to 664px (arbitrary)
.container-lg {
  max-width: 664px
}
