---
---

@import "{{ site.theme }}";
.markdown-body h2
{
  border-bottom: 0px solid #eaecef;
  padding-bottom: 0em;
}

// Phones
@media (max-width: 544px) {
  .px-john {
    padding-right: 0.15rem !important;
    padding-left: 0.15rem !important
  }
}

// Phones - Tablets
@media (min-width: 544px) {
  .px-john {
    padding-right: 0.4rem !important;
    padding-left: 0.4rem !important
  }
}





/*
.site-content
{
  html
  {
    font-size: 200% !important;
  }
}
*/
