<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- START META -->
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@cleanmeatnews">
    <meta name="twitter:creator" content="@cleanmeatnews">
    {% block image %}
    {% endblock image %}
    {% block title %}
    {% endblock title %}
    {% block description %}
    {% endblock description %}
    <meta name="author" content="{{ config.extra.author.name }}">
    <!-- END META -->

    <!-- START FAVICON -->
    <link rel="icon" type="image/png" href="/images/favicon.ico" />
    <!-- END FAVICON -->

    <!-- START RSS -->
    <link rel="alternative" type="application/rss+xml" title="RSS" href="/rss.xml" />
    <!-- END RSS -->

    <!-- START CSS -->
    <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
    <style type="text/css">
      /* Mailchimp style overrides */
    	#mc_embed_signup{clear:left; width:100%;}
      {% block templatestyles %} {% endblock templatestyles%}
    </style>
    <link rel="stylesheet" href="/indigo.css">
    <link rel="stylesheet" href="/styles.css">
    <!-- END CSS -->

  </head>
  <body {% block bodyclasses %} {% endblock bodyclasses %}>
    {% include "partials/search-overlay.html" %}
    {% block content %}
    {% endblock content %}
    {% if config.build_search_index %}
    <script type="text/javascript" src="{{ get_url(path="glossary.js") | safe }}"></script>
    <script type="text/javascript" src="{{ get_url(path="elasticlunr.min.js") | safe }}"></script>
    <script type="text/javascript" src="{{ get_url(path="search_index.en.js") | safe }}"></script>
    <script src="https://unpkg.com/popper.js@1"></script>
    <script src="https://unpkg.com/tippy.js@4"></script>
    {% endif %}
    <script src="{{ config.base_url }}/scripts.js"></script>
  </body>
</html>
