---
layout: default
permalink: pretty
---
<div class="main-div" id="site-content" style="font-size:1.5rem;">
  <p></p>
  <p id="title" style="font-size: 3.2rem; line-height:1;"><strong>{{ page.title }}</strong></p>
  <p id="subtitle" style="font-size:1.6rem;">
    <em>{{ page.date | date_to_string }}</em> 
    <a href="{{ page.source }}">{{ page.source_name }}</a>
  </p>
  <div class="main-div" style="text-align: left !important;">
    <img src={{ page.image }} width="100%">
    <p></p>
    {{ content }}
  </div>
</div>
